/* common style */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
}
/* header section style / home section style */
header {
  background: #002425;
  padding-top: 30px;
}
.website-title {
  width: 94px;
  height: 36px;
  flex-shrink: 0;
  /* 2 section one style */
  color: #fff;
  text-align: center;
  font-family: Kapakana;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 75.8%; /* 15.16px */
  margin-left: 48px;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav > ul {
  display: flex;
  align-items: center;
}
li a {
  text-decoration: none;
  color: #c7efcf;
}
ul li {
  list-style: none;
  text-align: center;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 75.8%;
  text-transform: uppercase;
  margin-left: 87px;
}
.button-01 {
  border: 0px;
  border-radius: 5px;
  background: #005456;
  width: 167px;
  height: 47px;
  flex-shrink: 0;
  padding: 16px 44px;
  margin-right: 50px;
  color: #c7efcf;
  text-align: center;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 75.8%; /* 15.16px */
  text-transform: uppercase;
}
/* banner section style */
.banner {
  margin-left: 48px;
  display: flex;
  justify-content: space-between;
}
.banner-title {
  color: #e7ffe6;
  font-family: "Crimson Pro";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 48px */
  letter-spacing: -0.96px;
  text-transform: uppercase;
  margin-top: 275px;
}
.banner-description {
  width: 481px;
  color: #c7efcf;
  font-family: "Crimson Pro";
  font-size: 32px;
  font-style: normal;
  font-weight: 200;
  line-height: 90%; /* 28.8px */
  letter-spacing: -0.64px;
  margin-top: 15px;
}
.button-02 {
  border: 0px;
  border-radius: 5px;
  background: #005456;
  width: 250px;
  flex-shrink: 0;
  color: #effdff;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: 100%; /* 20px */
  letter-spacing: -0.4px;
  text-transform: uppercase;
  padding: 20px 35px;
  margin-top: 40px;
}
.banner-image {
  margin-top: 220px;
  margin-bottom: 60px;
}
/* banner bottom section style */
.bottom-section {
  margin-top: 204pxJ;
}
.bottom-section-title {
  color: #c7efcf;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 20px */
  letter-spacing: -0.4px;
  text-transform: uppercase;
  margin-top: 204px;
}
/* WhatAreWE section style */
main {
  background: #002425;
}
.WhatAreWE {
  position: relative;
  height: 1515px;
}
.WhatAreWE-image img {
  width: 100%;
}
.WhatAreWe-banner {
  background-color: rgba(0, 0, 0, 0.36);
  position: absolute;
  top: 850px;
  left: 100px;
  right: 100px;
  padding: 0px 90px;
  border-radius: 10px;
}
.WhatAreWe-banner-title {
  color: #c7efcf;
  font-family: Manrope;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 110.4px */
  letter-spacing: -1.92px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 58px;
}
.WhatAreWe-banner-description {
  color: #effdff;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 27.6px */
  text-transform: uppercase;
  margin-top: 15px;
}
.Our-Mission {
  color: #c7efcf;
  font-family: Manrope;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 40px;
}
.Our-Mission-description {
  color: #effdff;
  font-family: Manrope;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 50px;
}
/* What We Do section style */
.WhatWeDO {
  position: relative;
  height: 2110px;
}
.WhatWeDO-image img {
  width: 100%;
}
.WhatWeDO-banner-container {
  margin: auto;
  display: grid;
  gap: 30px;
  grid-template-rows: 150px repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  top: 842px;
  left: 100px;
  right: 100px;
}
.box {
  border-radius: 10px;
}
#box-1 {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.36);
  color: #c7efcf;
  font-family: Manrope;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 110.4px */
  letter-spacing: -1.92px;
  text-transform: uppercase;
}
#box-2,
#box-3,
#box-4,
#box-5,
#box-6,
#box-7 {
  background-color: rgba(0, 0, 0, 0.36);
}
.box-title {
  padding: 30px 50px 30px 50px;
  color: #c7efcf;
  text-align: center;
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 36.8px */
  text-transform: uppercase;
}
.box-description {
  padding: 0px 35px 25px 35px;
  color: #effdff;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 105%; /* 25.2px */
  text-transform: uppercase;
}
/* Donate section style */
.Donate-section-title {
  color: #c7efcf;
  font-family: Manrope;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 110.4px */
  letter-spacing: -1.92px;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.Donate-banner {
  max-width: 1000px;
  margin: auto auto;
  display: flex;
  justify-content: space-evenly;
}
.Donate-Information {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 100px) 50px 50px;
  column-gap: 20px;
  row-gap: 20px;
  width: 100%;
}
.Donate-bannerImage {
  margin-left: 85px;
  width: 490px;
  height: 640px;
  flex-shrink: 0;
}
.BannerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
#ValueBox-7,
#ValueBox-8,
#ValueBox-9,
#ValueBox-10,
#ValueBox-11,
#ValueBox-12 {
  grid-column: span 3;
}
#ValueBox-1,
#ValueBox-2,
#ValueBox-3,
#ValueBox-4,
#ValueBox-5,
#ValueBox-6 {
  background: rgba(199, 239, 207, 0.2);
  color: #c7efcf;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 36px */
}
#UserBox-1 {
  background: rgba(199, 239, 207, 0.2);
  color: #c7efcf;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 20px */
  opacity: 0.75;
  border: 0px;
  padding-left: 10px;
}
#UserBox-2 {
  color: #c7efcf;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 20px */
  border: 2px solid #c7efcf;
  padding-left: 10px;
}
#UserBox-2,
#UserBox-3,
#UserBox-4,
#UserBox-5 {
  background-color: #002425;
}
#UserBox-3,
#UserBox-4,
#UserBox-5 {
  color: rgba(239, 253, 255, 0.9);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  border: 0px #002425;
  border-bottom: 2px solid #c7efcf;
}
#UserBox-6 {
  background-color: #c7efcf;
  color: #040404;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  border: 0px;
}
#UserBox-6:hover{
  background-color: #69e882;
  cursor: pointer;
}

input:focus {
  outline: none;
}
.InformationBox {
  width: 100%;
  height: 100%;
}
.Donate-FooterSection {
  margin-top: 60px;
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%; /* 55.2px */
  text-transform: uppercase;
}
hr {
  margin-top: 60px;
  color: #c7efcf;
}
/* Footer Section style */


/* Responsive For Medium size devices */
@media screen and (max-width: 1800px) {
  .WhatAreWE {
    height: 1415px;
  }
  .WhatAreWe-banner {
    top: 648px;
  }
  .WhatWeDO {
    height: 2280px;
  }
  .WhatWeDO-banner-container {
    top: 642px;
  }
}